.bubble {
    background:var( --lightGray);
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    margin: 5vh auto;
}

.bubble svg {
    height: 30%;
    fill: var(--fontGray);
}

.bubble-green {
    background:var( --greenLight);
}

.bubble-green svg {
    fill: var(--bgWhite);
}

.about-title {
    padding: 3vh 0;
    color: var(--fontDark);
}

.about-title::after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 20%;
    margin-top: 2vh;
    background: gray;
}

@media only screen and (max-width: 600px) {

    .about-mid {
        flex-direction: column;
    }
    .about {
        padding: 4vh 0;
    }

}
@media only screen and (min-width: 600px) and (orientation: portrait ) {
  
    .bubble {
       height: 12vw;
       width: 12vw;
    }
    
    .about-mid {
        width: 100%;
    }

}

