@import './common.css';
@import './heading.css';
@import './about.css';
@import './sections.css';

@font-face {
    font-family: "Proxima-Nova";
    src: url('../fonts/ProximaNova-Regular.otf');
}

:root {
    --fontWhite : #FEFAF9;
    --fontGray : gray;
    --fontDark : #525151;
    --greenLight : #17DAA2;
    --blueGreen : #00B6CB;
    --lightGray : #EEEFF1;
    --font-sm : 2vh;
    --font-s : 1.7vh;
    --font-l : 3vh;
    --font-xl : 5vh;
    --bgWhite : #FFFFFF;
    --bgLightGray: #FAFBFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--fontGray);
    text-align: center;
}

h2, h3 {
    color: var(--fontDark);
}

p {
    line-height: 3vh;
    margin: 3vh 0;
}




